* {
  margin: 0;
  padding: 0;
  text-align: center;
}

#criar-tarefa {
  background-color: blue;
  margin: 20px;
}

#apaga-tudo {
  background-color: red;
  margin: 20px;
}

#salvar-list {
  background-color: green;
  margin: 20px;
}

#remover-finalizados {
  background-color: crimson;
  margin: 20px;
}

.selected {
  background-color: gray;
}

.completed {
  text-decoration: line-through solid black;
}
